
!**/[Pp]ackages/build/
!*.[Cc]ache/
!.axoCover/settings.json
# !tools/packages.config
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
# .NET Core
# AxoCover is a Code Coverage Tool
# Azure Stream Analytics local run output
# Backup & report files from converting an old project file
# Benchmark Results
# BizTalk build output
# Build Results of an ATL Project
# Build results
# Business Intelligence projects
# Cake - Uncomment if you are using it
# Chutzpah Test files
# Click-Once directory
# CodeRush personal settings
# Directories potentially created on remote AFP share
# DocProject is a documentation generator add-in
# DotCover is a Code Coverage Tool
# Dump file
# FAKE - F# Make
# Files built by Visual Studio
# Files that might appear in the root of a volume
# Folder config file
# General
# GhostDoc plugin setting file
# Guidance Automation Toolkit
# Icon must end with two \r
# Including strong name files can present a security risk
# Installshield output folder
# JetBrains Rider
# JustCode is a .NET coding add-in
# Local History for Visual Studio
# MFractors (Xamarin productivity tool) working folder
# MSBuild Binary and Structured Log
# MSTest test Results
# Mac bundle stuff
# Microsoft Azure Build Output
# Microsoft Azure Emulator
# Microsoft Azure Web App publish settings. Comment the next line if you want to
# Microsoft Fakes
# MightyMoose
# NCrunch
# NUNIT
# NVidia Nsight GPU debugger configuration file
# Node.js Tools for Visual Studio
# Note: Comment the next line if you want to checkin your web deploy settings,
# NuGet Packages
# NuGet v3's project.json files produces more ignorable files
# OpenCover UI analysis results
# Others
# Paket dependency manager
# Publish Web Output
# Python Tools for Visual Studio (PTVS)
# RIA/Silverlight projects
# ReSharper is a .NET coding add-in
# Recycle Bin used on file shares
# SQL Server files
# Since there are multiple workflows, uncomment next line to ignore bower_components
# StyleCop
# TFS 2012 Local Workspace
# Tabs Studio
# TeamCity is a build add-in
# Telerik's JustMock configuration file
# The packages folder can be ignored because of Package Restore
# Thumbnails
# Uncomment if necessary however generally it will be regenerated when needed
# Uncomment if you have tasks that create the project's static files in wwwroot
# User-specific files
# User-specific files (MonoDevelop/Xamarin Studio)
# Visual C++ cache files
# Visual Studio 2015/2017 cache/options directory
# Visual Studio 2017 auto generated files
# Visual Studio 6 auto-generated workspace file (contains which files were open etc.)
# Visual Studio 6 build log
# Visual Studio 6 workspace options file
# Visual Studio LightSwitch build output
# Visual Studio Trace Files
# Visual Studio cache files
# Visual Studio code coverage results
# Visual Studio profiler
# Web workbench (sass)
# Windows Installer files
# Windows Store app package directories and files
# Windows shortcuts
# Windows thumbnail cache files
# because we have git ;-)
# but database connection strings (with potential passwords) will be unencrypted
# but keep track of directories ending in .cache
# checkin your Azure Web App publish settings, but sensitive information contained
# content below from: https://github.com/github/gitignore/blob/master/Global/Windows.gitignore
# content below from: https://github.com/github/gitignore/blob/master/Global/macOS.gitignore
# content below from: https://github.com/github/gitignore/blob/master/VisualStudio.gitignore
# except build/, which is used as an MSBuild target.
# files ending in .cache can be ignored
# find . -type f -not -path '*/\.*' -size +100000 -print | sed 's/\.\///g' >> .gitignore
# globs
# in these scripts will be unencrypted
# to a newer Visual Studio version. Backup files are not needed,
# tools/**
#!**/[Pp]ackages/repositories.config
##
## Get latest from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore
## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.
#*.snk
#bower_components/
#wwwroot/
$RECYCLE.BIN/
$tf/
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/[Pp]ackages/*
*.DotSettings.user
*.GhostDoc.xml
*.VC.VC.opendb
*.VC.db
*.VisualState.xml
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.app
*.appx
*.aps
*.azurePubxml
*.bim.layout
*.bim_*.settings
*.binlog
*.btm.cs
*.btp.cs
*.build.csdef
*.cab
*.cachefile
*.coverage
*.coveragexml
*.dbmdl
*.dbproj.schemaview
*.dmg
*.dotCover
*.e2e
*.gpState
*.ilk
*.iobj
*.ipdb
*.jfm
*.jmconfig
*.ldf
*.lnk
*.log
*.mdf
*.meta
*.mm.*
*.msi
*.msix
*.msm
*.msp
*.ncb
*.ndf
*.nuget.props
*.nuget.targets
*.nupkg
*.nvuser
*.obj
*.odx.cs
*.opendb
*.opensdf
*.opt
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.pyc
*.rdl.data
*.rptproj.bak
*.rptproj.rsuser
*.rsp
*.sap
*.sbr
*.scc
*.sdf
*.sln.docstates
*.sln.iml
*.stackdump
*.suo
*.svclog
*.tar.gz
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.tss
*.user
*.userosscache
*.userprefs
*.usertasks
*.vbw
*.vsp
*.vspscc
*.vspx
*.vssscc
*.xsd.cs
*_h.h
*_i.c
*_p.c
*_wpftmp.csproj
*~
.*crunch*.local.xml
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.JustCode
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.angular
.apdisk
.axoCover/*
.builds
.com.apple.timemachine.donotpresent
.cr/personal
.fake/
.fseventsd
.idea/
.localhistory/
.mfractor/
.ntvs_analysis.dat
.paket/paket.exe
.sass-cache/
.vs/
ASALocalRun/
AppPackages/
AutoTest.Net/
Backup*/
BenchmarkDotNet.Artifacts/
BundleArtifacts/
ClientBin/
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
DocProject/buildhelp/
FakesAssemblies/
Generated\ Files/
Generated_Code/
Icon
Makefile.in
Network Trash Folder
OpenCover/
Package.StoreAssociation.xml
PublishScripts/
ServiceFabricBackup/
StyleCopReport.xml
Temporary Items
TestResult.xml
Thumbs.db
UpgradeLog*.XML
UpgradeLog*.htm
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Dd]esktop.ini
[Ee]xpress/
[Ll]og/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Tt]est[Rr]esult*/
_Chutzpah*
_NCrunch_*
_Pvt_Extensions
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
__pycache__/
_pkginfo.txt
aclocal.m4
artifacts/
autom4te.cache/
bld/
config.make
config.status
csx/
dlldata.c
ecf/
ehthumbs.db
ehthumbs_vista.db
install-sh
ipch/
nCrunchTemp_*
node_modules/
orleans.codegen.cs
paket-files/
project.fragment.lock.json
project.lock.json
publish/
rcf/
tarballs/
test-results/
x64/
x86/
~$*
